{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="my-5">Задание к лабораторной работе №2</h1>

        <p class="fw-bold task-description">
            1. Отображение данных запроса.
        </p>

        <p class="task-description">Добавьте в приложение страницы, на которых отображаются:</p>

        <ul class="my-3 task-list">
            <li>параметры URL,</li>
            <li>заголовки запроса,</li>
            <li>cookie,</li>
            <li>параметры формы.</li>
        </ul>

        <p class="task-description">
            В качестве формы необходимо добавить форму авторизации. После того как в нее введены данные, эти данные выводятся на страницу.
        </p>

        <p class="fw-bold task-description mt-4">
            2. Форма с обработкой ошибок.
        </p>

        <p class="task-description">
            Создайте страницу с формой для ввода номера телефона. Форма должна состоять из текстового поля и кнопки «Проверить». По нажатию на кнопку данные формы должны отправляться на сервер при помощи метода POST.
        </p>

        <p class="task-description">На стороне сервера необходимо реализовать проверку, что в поле введён номер телефона заданного формата:</p>

        <ul class="my-3 task-list">
            <li>имеет длину 10-11 цифр;</li>
            <li>может содержать дополнительные символы: пробелы, круглые скобки, дефисы, точки, +.</li>
        </ul>

        <p class="task-description">Если номер не соответствует формату – выводить сообщение об ошибке:</p>

        <ul class="my-3 task-list">
            <li>«Недопустимый ввод. Неверное количество цифр.» – если в номере не 10 или 11 цифр,</li>
            <li>«Недопустимый ввод. В номере телефона встречаются недопустимые символы.» – если в номере встречаются другие символы.</li>
        </ul>

        <p class="task-description">
            Преобразовывать введённый номер к формату 8-***-***-**-** и выводить.
        </p>

        <p class="task-description">Примеры допустимых форматов ввода номера телефона:</p>

        <div class="code-block my-3">
            <code>+7 (123) 456-75-90</code><br>
            <code>8(123)4567590</code><br>
            <code>123.456.75.90</code>
        </div>
    </div>
</div>
{% endblock %}
